.hero-water-vid{
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 750px;
    width: 100%;
    object-fit: cover;
}
.hero-body{
    z-index: 1;
    min-height: 60vh;
}
.hero-body-wrapper{
	background-color:#0000008a;
	width:100%;
}
.hero-body-content{
	max-width:1170px;
	align-items: flex-start;
}
.hero-body-content .sf-button{
	border: 1px solid #001430;
    font-family: inherit;
    font-size: 1em;
    padding: 16px 32px;
}
.hero-body-content h1{
	font-size: clamp(3rem,6vw,5rem);
    line-height: 1.3;
}
.swiper-button-next, .swiper-button-prev{
	color:white!important;
}
